
/* Your CSS Code here. */
.parent{
	
	
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	flex-wrap: wrap;
}

.child1{
	
	
	background-color: red;
	padding:10px;
	
}
.child2{
	background-color:blue;
	padding:10px;
}
.child3{
	background-color:green;
	padding:10px;
}  
	
	
 